<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/content/site.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <ul class="nav navbar-nav">
        <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">Educational Project</a></li>
        <li><a asp-controller="Incident" asp-action="Index">Incident</a></li>
    </ul>

    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
